<header class="fera-app-header">
  <div class="header-image">
    <img src="https://uploads.fera.ai/brand/fera_app_blank_header.svg" class="background-image" alt="Fera icon">
    <span class="app-icon-container"><%= image_tag("icon.png", class: "app-icon", alt: "#{ ENV['APP_NAME'] } icon") %></span>
  </div>
  <h1 class="header-title"><%= ENV.fetch("APP_TITLE", "Fera #{ ENV['APP_NAME'] } App") %></h1>
</header>
