<header class="fera-app-header">
  <div class="header-image">
    <img src="https://uploads.fera.ai/brand/fera_app_blank_header.svg" class="background-image">
    <span class="app-icon-container"><%= image_tag("icon.png", class: "app-icon") %></span>
  </div>
  <h1 class="header-title"><%= ENV['APP_NAME'] %></h1>
</header>
