@font-face {
    font-family: "Proxima Nova";
    src: url("fera/brand/proxima_nova/ProximaNova-Black.otf") format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fera/brand/proxima_nova/ProximaNova-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fera/brand/proxima_nova/ProximaNova-BoldIt.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fera/brand/proxima_nova/ProximaNova-Extrabold.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fera/brand/proxima_nova/ProximaNova-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fera/brand/proxima_nova/ProximaNova-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fera/brand/proxima_nova/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fera/brand/proxima_nova/ProximaNova-RegularItalic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fera/brand/proxima_nova/ProximaNova-Semibold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fera/brand/proxima_nova/ProximaNova-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}
